[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
virtualenv = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
psycopg2 = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
redis = "*"
flower = "*"
celery = "*"
django-redis = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-environ = "*"
gunicorn = "*"
dj-database-url = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
pytest = "*"
autopep8 = "*"
isort = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
install = "*"
locust = "*"
django-silk = "*"

[requires]
python_version = "3.10"
