[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
autopep8 = "*"
psycopg2 = "*"
django-environ = "*"
virtualenv = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.10"
