asgiref==3.5.2
autopep8==1.7.0
distlib==0.3.6
Django==4.1.2
django-debug-toolbar==3.7.0
django-environ==0.9.0
django-filter==22.1
djangorestframework==3.14.0
drf-nested-routers==0.93.4
filelock==3.8.0
platformdirs==2.5.2
psycopg2==2.9.4
psycopg2-binary==2.9.4
pycodestyle==2.9.1
pytz==2022.5
sqlparse==0.4.3
toml==0.10.2
virtualenv==20.16.5
